footer.text-center.text-lg-start.bg-dark.text-muted
    section.d-flex.justify-content-center.justify-content-lg-between.p-4.border-bottom
        .me-5.d-none.d-lg-block
            span
        div
            a.me-4.text-reset(href='https://www.facebook.com/thaihoc.nguyen.5473/')
                i.fa.fa-facebook(aria-hidden='true')
            a.me-4.text-reset(href='')
                i.fa.fa-twitter
            a.me-4.text-reset(href='')
                i.fa.fa-google
            a.me-4.text-reset(href='https://www.instagram.com/thaihoc2001/')
                i.fa.fa-instagram
            a.me-4.text-reset(href='')
                i.fa.fa-linkedin
            a.me-4.text-reset(href='https://github.com/thaihoc2001')
                i.fa.fa-github
    section
        .container.text-center.text-md-start.mt-5
            .row.mt-3
                .col-md-3.col-lg-4.col-xl-3.mx-auto.mb-4
                    .text-center.d-md-flex
                        img(src='../image/logo-1-cut.jpg' width='100')
                        h5.text-uppercase.fw-bold.mb-4.mt-md-5.mx-lg-2
                            | CODINGCLUB
                    p.mt-3
                        | Blog n&agrave;y &dstrok;&#x1B0;&#x1EE3;c t&#x1EA1;o ra nh&#x1EB1;m m&#x1EE5;c &dstrok;&iacute;ch h&#x1ECD;c t&#x1EAD;p v&agrave; gi&#x1EDB;i thi&#x1EC7;u b&#x1EA3;n th&acirc;n. Tuy c&ograve;n nhi&#x1EC1;u h&#x1EA1;n ch&#x1EBF; nh&#x1B0;ng ch&uacute;ng m&igrave;nh s&#x1EBD; c&#x1ED1; g&#x1EAF;ng update theo th&#x1EDD;i gian &dstrok;&#x1EC3; trang web &dstrok;&#x1B0;&#x1EE3;c ho&agrave;n ch&#x1EC9;nh h&#x1A1;n
                .col-md-2.col-lg-2.col-xl-2.mx-auto.mb-4
                    h6.text-uppercase.fw-bold.mb-4
                        | SKILLS
                    p
                        a.text-reset.text-decoration-none ANGULAR
                    p
                        a.text-reset.text-decoration-none HTML,CSS,JS,TS
                    p
                        a.text-reset.text-decoration-none NODE JS, MONGGODB
                    p
                        a.text-reset.text-decoration-none JAVA
                .col-md-4.col-lg-3.col-xl-3.mx-auto.mb-md-0.mb-4
                    h6.text-uppercase.fw-bold.mb-4
                        | CONTACT
                    p
                        i.fa.fa-home.me-3
                        |  12 Nguy&#x1EC5;n V&abreve;n B&#x1EA3;o - Qu&#x1EAD;n G&ograve; V&#x1EA5;p - TP H&#x1ED3; Ch&iacute; Minh
                    p
                        i.fa.fa-envelope.me-3
                        |             codingclub@gmail.com
                    p
                        i.fa.fa-phone.me-3
                        |  + 094 222 xxxx
                    p
                        i.fa.fa-print.me-3
                        |  + 094 444 xxxx
                .col-md-5.col-lg-2.col-xl-3.mx-auto.mb-4
                    h6.text-uppercase.fw-bold.mb-4
                        | NH&#x1EAC;N TH&Ocirc;NG B&Aacute;O
                    p
                        | &Dstrok;&abreve;ng K&yacute; Nh&#x1EAD;n B&agrave;i Vi&#x1EBF;t M&#x1EDB;i Nh&#x1EA5;t Th&ocirc;ng Qua Email
                    div
                        input.form-control.col-4.col-lg-12(placeholder='Email address !')
                    .mt-3
                        button.btn.btn-danger &Dstrok;&Abreve;NG K&Yacute;
    .text-center.p-4(style='background-color: rgba(0, 0, 0, 0.05);')
        | &copy; 2021 Copyright:
        a.text-reset.fw-bold(href='https://thaihocblog.xyz/') thaihocblog.xyz
