extends ./layout/layout

block content
    .container.section.text-center.mt-5
        h1 WELCOME !
        h1 EMPPLOYEE MANAGEMENT PROGRAM
        a(href = "/users") LET GO
    style
        include ./style/myStyle.css
